@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --font-family : "Roboto Slab";
    --normal-font : "400";
    --bold-font: 700;
    --bolder-font: 900;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height:1.7rem;
    --transition: 0.3s;
    --bg-color1 : #0B0B0B;
    --bg-color2 : #321C14;
    --primary-color : white;
    --secondary-color : #b76548;

}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    max-width: 100%;
    user-select: none;
}

a {
    color: #e0e1dd;
}

a:hover {
    color: #b6b2ff;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #060c25;
    overflow-x: hidden;
    max-width: 100%;
}

header {
    position: sticky;
    transition: 0.4s;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #020617;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3.5rem;
    width: 100vw;
    z-index: 100;
    font-size: 16px;
    
}

nav h1 {
    color: var(--primary-color);
    font-size: 16px;
}

nav a {
    transition: var(--transition);
}

nav ul {
    display: flex;
    gap: 3rem;
}

.navigation .nav-contact {
    background-color: #b6b2ff;
    padding: 0.6rem;
    border-radius: 1.3rem;
    color: #060c25;
    font-weight: bold;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.menu-bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #e0e1dd;
}

.hero {
    height: 88vh;
    display: flex;
    justify-content: space-evenly;
    padding: 0 3.5rem;
    font-size: larger;
    align-items: center;
}

.hero .hero-text h1 {
    color: #e0e1dd;
}

.hero-text span {
    color: #b6b2ff;
    font-size: 5rem;
}

.hero-text p {
    color: #e0e1dd;
    padding: 0.4rem;
}

.hero-text .btn {
    font-size: 1rem;
    margin-top: 1rem;
    background-color: #060c25;
    color: #b6b2ff;
    border: 1px solid #b6b2ff;
    height: 2rem;
    width: 7rem;
    border-radius: 1rem;
    margin-right: 1rem;
}

.hire-me:hover {
    background-color: #b6b2ff;
    color: #060c25;
    transition: 0.6s;
}

.resume:hover {
    box-shadow: 0 0 6px 0 #b6b2ff;
}

.socials {
    padding: 0.6rem;
    margin-top: 2rem;
}

.socials a {
    margin-right: 1rem;
    color:#e0e1dd
}

.socials a:hover {
    color: #b6b2ff;
}


.hero-img {
    height: 22rem;
    width: 22rem;
    border-radius: 129px 124px 176px 136px;
    background-image: url(images/myImage1.jpg);
    filter: contrast(110%);
    background-position: center top;
    background-size: 60rem;
    box-shadow: 0 5px 20px #020617;
}

#about {
    background-color: #131327;
    margin-top: 50px;
    padding: 40px 20px;
    text-align: center;
}

#about h1 {
    color: #e0e1dd;
    font-size: 3rem;
} 

#about span {
    color: #b6b2ff;
}

#about img {
    height: 15rem;
    margin: 2rem;
    border: 1px solid #b6b2ff;
    border-radius: 50%;
}


#about p {
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    font-size: large;
    color: #e0e1dd;
    text-align: center;
}

#education {
    padding: 40px 20px;
    text-align: center;
    margin-bottom: 30px;
}

#education h1 {
    font-size: 3rem;
    margin-bottom: 30px;
    color: #e0e1dd;
}

#education span {
    color: #b6b2ff;
}

.journey {
    display: flex;
    justify-content: space-evenly;
}

.education {
    display: flex;
    width: 40vw;
    flex-direction: column;
    border: 2px solid #b6b2ff;
    border-radius: 1rem;
}

.education h2 {
    margin-bottom: 3rem;
    font-size: 2rem;
    color: #b6b2ff;
}

.education h2:hover {
    text-decoration: underline;
}

.education-timeline {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 40px;
    max-width: 700px;
    margin: auto;
    border-left: 2px solid #b6b2ff;
}

.timeline-items {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 40px;
}

.timeline-items .year {
    font-weight: bold;
    color: #e0e1dd;
}

.timeline-items h3 {
    color: #e0e1dd;
}

.timeline-items p {
    color: #e0e1dd;
}

.skills {
    width: 40vw;
    border: 2px solid #b6b2ff;
    border-radius: 1rem;
}

.skills h2 {
    font-size: 2rem;
    text-align: center;
    color: #b6b2ff;
    margin-bottom: 3rem;
}

.skills h2:hover {
    text-decoration: underline;
}

.skill-container {
    margin: 0 auto;
    padding: 2rem;
    width: 90%;
}

@keyframes load {
    from {
        width: 0%;
    }
}

.bar {
    text-align: left;
    border: 2px solid #b6b2ff;
    width: 100%; 
    padding: 5px;
    border-radius: 1rem;
    margin-bottom: 2rem;
    font-size: 14px;
    color: #060c25;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.bar::before {
    content: attr(data-skill);
    background-color: #b6b2ff;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
}

.bar.intermediate::before {
    width: calc(60% - 10px);
}

.bar.learning::before {
    width: calc(30% - 10px);
}

#projects {
    background-color: #131327;
    text-align: center;
    padding: 40px 20px;
}

#projects h1 {
    color: #e0e1dd;
    font-size: 3rem;
}

#projects span {
    color: #b6b2ff;
}

.project-container {
    position: relative;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 30px;
    flex-wrap: wrap;
}

.project-container .project-card {
    position: relative;
    max-width: 300px;
    height: 300px;
    background-color: #b6b2ff;
    margin: 30px 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
    border-radius: 15px;
    border: 2px solid #928ece;
    overflow: hidden;
}

.project-container .project-card:hover {
    transform: scale(1.1);
}

.project-card .project-img {
    height: 300px;
    top:0;
    left: 0;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
}

.project-card:hover .project-img {
    opacity: 0;
}

.project-container .project-card .project-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}


.project-card .project-content {
    position: absolute;
    top: 70px;
    background-color: white;
    height: 300px;
    padding: 20px;
    opacity: 0;
    transform: translateY(-50%, -50%);
    transition: opacity 0.3s ease-in-out;
    text-align: center;
    color: #060c25;
}

.project-card:hover .project-content {
    opacity: 1;
}

.project-btn {
    width: 90px;
    height: 40px;
    margin: 1rem;
    border-radius: 1rem;
    border: 1px solid #060c25;
    color: #b6b2ff;
    background-color: #060c25;
}

.project-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #060c25;
}

.project-card .fa-github {
    font-size: 25px;
}

#contact {
    background-color: #060c25;
    text-align: center;
    padding: 40px 20px;
}

#contact h1 {
    color: #e0e1dd;
    font-size: 3rem;
}

#contact span {
    color: #b6b2ff;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-left {
    padding: 3rem;
}

.contact-left p {
    color: #e0e1dd;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: left;
}

.contact-left i {
    color: #b6b2ff;
    margin-right: 15px;
    font-size: 25px;
}

.contact-right {
    padding: 2rem;
    flex-basis: 60%;
}


.input-box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input-field input {
    background-color: #020617;
    border: 1px solid #b6b2ff;
    height: 3rem;
    width: 25rem;
    padding: 12px;
    color: #e0e1dd;
    outline: none;
    font-size: 17px;
    margin: 8px;
    border-radius: 1rem;
}

.input-field textarea {
    background-color: #020617;
    color: #e0e1dd;
    border: 1px solid #b6b2ff;
    outline: none;
    font-size: 17px;
    height: 10rem;
    width: 25rem;
    border-radius: 1rem;
    padding: 12px;
    margin: 8px;
}

.submit button {
    font-size: 1rem;
    margin-top: 1rem;
    background-color: #060c25;
    color: #b6b2ff;
    border: 1px solid #b6b2ff;
    height: 3rem;
    width: 8rem;
    border-radius: 1rem;
    margin-right: 1rem;
}

.submit button:hover {
    background-color: #b6b2ff;
    color: #060c25;
    font-weight: bold;
    transition: .3s ease-in-out;
}

footer {
    background-color: #020617;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 40px 20px;
    color: #b6b2ff;
}

footer #back-to-top {
    padding: 2rem;
}

footer a {
    background-color: #b6b2ff;
    padding: 1rem;
    color: #020617;
    border-radius: 1rem;
}

footer a:hover {
    background-color: #928ece;
    color: #020617;
}


 /* MEDIA QUERIES */

 @media (max-width:768px) {

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0; 
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .navigation {
        position: absolute;
        top: 70px;
        left: -100%;
        gap: 0;
        display: flex;
        flex-direction: column;
        background-color: #020617;
        width: 100%;
        text-align: center;
        transition: top 0.4s ease-in-out;
    }

    .navigation li {
        margin: 16px 0;
    }

    .navigation.active {
        left: 0;
    }

    .hero {
        flex-direction: column-reverse;
        justify-content: left;
        align-items: center;
        padding: 0;
        margin: 0;
        margin-top: 2rem;
        height: 100vh;
        /* background-color: #321C14; */
    }

    .hero-text {
        padding: 0;
        padding-top: 2rem;
        margin: 0;
        width: 80%;
        text-align: center;
    }

    .hero-text span {
        font-size: 3rem;
    }

    .hero-text p {
        padding: 1rem;
        font-size: 17px;
    }

    .hero-text .btn {
        margin-top: 1rem;
    }

    .hero-img {
        margin-top: 1rem;
        height: 17rem;
        width: 17rem;
        background-position: center top;
        box-shadow: 0 5px 19px #928ece;
        border: 1px solid white;
        background-size: 35rem;
    }

    #about p {
        font-size: 15px;
    }


    .journey {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }

    .journey .education {
        width: 80vw;
        /* height: 100vh; */
    }

    .journey .skills {
        width: 80vw;
    }
 }

